* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.description {
  background-color: white;
}

.allign {
  text-align: center;
  margin-top: 50px;
}
.button1 {
  background-color: #32b3ab;
  border-radius: 15px;
  border: 0px;
  font-size: 30px;
}
.NavColor {
  background-color: #32b3ab;
  padding-bottom: 25px;
  padding-top: 25px;
}
.BrandSize {
  font-size: 22px;
}
.footer {
  background-color: #32b3ab;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  color: black;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
a {
  color: black;
}
a:hover {
  color: white;
}
.video {
  margin-top: 200px;
}
